
* {
  color: #404040;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#openbtn {
   margin-top: 5px;
   padding-top: 5px;
   font-size: 50px;
 }

#openbtn:hover {
  cursor: pointer;
}

a {
  color: #404040;
  text-decoration: none;
}

a:hover {
  color: #101010;
}

.sidebar {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 1;
  transition: 0.3s;
  background-color: white;
}

.sidebar a {
  text-decoration: none;
  display: block;
  transition: 0.3s;
}

.closebtn {
  position: absolute;
  top: 0;
  margin-left: 5px;
  font-size: 36px;
}

.closebtn:hover {
  color: red;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: -1;

}

.search {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 10px;
}

#searchQuery {
   margin-left: 30px;
   width: 200px;
  border-radius: 5px;
  outline: none;
  padding:2px 5px;
}
#searchQuery:focus{
  border-color: #00853e;
}

.listings {
  height: 100%;
  padding-bottom: 30px;
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  font-size: 18px;
  font-weight: 700;
}

.listings .item .description {
  font-size: 14px;
  font-weight: 500;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover {
    color: #1c9e5a; }

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.hide {
  display: none;
}

.marker {
  background-image: url('star-15.svg');
  background-size: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}


@media only screen and (max-width: 420px) {
  .description {
    display: none;
    font-size: 12px;
  }

  #searchQuery {
    margin: 5px;
    width: 80px;
  }

}